@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');
*{ font-family: 'Barlow', sans-serif;}
/* texto del cargo cargo*/
#cargo{
    --background: rgba(33,37,41);
    color: aqua;
    font-size: 20px;   
}

#cargo2{
    color: aqua;
    font-size: 20px; 
    margin-right: 20px;  
}

ion-header{
    background-color: rgba(33,37,41);
}
/* Estilos generales */
#experimental {
    text-align: center;
    display: flex;
    justify-content: center;

    .experimentalB {
        background-color: aqua;
        color: black;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        height: 50px;
        width: 130px;
        border-radius: 5px;

        &:hover {
        background-color: darkcyan;
        /* Cambiar el color de fondo al pasar el ratón */
        }

        b {
        /* Aplicar estilos al texto en negrita */
        font-weight: bold;
        }
    }
}

/* Estilos de la barra de navegación */
.navbar-dark {
background-color: rgba(33,37,41); /* Cambiar el color de fondo */
}

.list-container {
    background-color: rgba(33,37,41); /* Cambiar el color de fondo */
    padding: 10px;
}

// estilos para las card's
#content_card {
    position: relative;
}

#title {
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white; /* Fondo blanco para que sea legible sobre la imagen */
    padding: 5px;
}

#ima-container {
    position: relative;
}

#ima {
    width: 100%;
    height: auto;
}

#leter2 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: white; /* Fondo blanco para que sea legible sobre la imagen */
    padding: 5px;
}

#buttonC {
    z-index: 4;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    background-color: aqua;
    color: black;
    height: 80px;
    width: 120px;
    border-radius: 10px;
    transition: background-color 0.3s, color 1s, transform 0.3s, border 1s;
}

#descript {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white; /* Fondo blanco para que sea legible sobre la imagen */
    padding: 10px;
    display: none;
}

#content_card:hover #descript {
    display: block;
}


/*estilo para lista de mis mangas*/
#button_misMangas{
    background-color: aqua;
    color: rgba(33,37,41);
    border-radius: 15px;
    width: 80px;
    height: 60px;
    font-size: 20px;
    margin: 30px;
}

/*formulario de registro*/
#espacio_registro{
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
}
#form_registro{
    justify-content: center;
    width: 500px;
    height: 350px;
    margin:  10px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(33,37,41);
}
#titulo_registro{
    color: aqua;
    font-size: 30px;
    font-family: Arial, sans-serif
}
#button_registro{
    background-color: aqua;
    color: black;
}

/*formulario para publicar mangas*/
#espacio_publicarManga{
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(33,37,41);
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#titulo_publicarManga{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aqua;
}
.grupo-inputs{
    align-items: center;
    text-align: center;
}
#campos1{
    align-items: center;
    text-align: center;
    display: flex table-column;
    margin: auto;
}
#campo_publicarManga{
    flex: 1;
    padding-bottom: 12px;
}
#putFile_publicarManga { border-radius: 10px;}
#imgFile_publicarManga{
    border-radius: 15px;
    margin-top: 10px;
    ion-img{ border-radius: 30px;}
}

#cajaButton_publicarManga{
    display: flex;
    justify-content: center;
    color: white;
}
#button_publicarManga{
    background-color: aqua;
    color: rgba(33,37,41);
    width: 680px;
    height: 40px;
    font-size: 20px;
    margin: 30px;

    @media (max-width: 330px) {
        width: 100%; 
    }
}

/* formulario para crear usuario*/
.container {
    max-width: 800px;
    margin: auto;
}

#formulario_crearUsuario {
    --background: rgba(33,37,41);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#titulo_crearUsuario h3, div .col-form-label{
    color: aqua;
    margin-bottom: 20px;
}

.grupo-inputs .row {
    margin-bottom: 15px;
}

label.col-form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

#crearUsuario_button button {
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#crearUsuario_button button:hover {
    background-color: #0056b3;
    color: white;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

#espacio_crearUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
