<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item id="cargo" lines="none">
        <p slot="start"><i>Cargo: </i></p>
        <p slot="end"> {{ cargo }}</p>
    </ion-item>  
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button (click)="changeList()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar navbar-dark bg-dark" *ngIf="ventana === ''">
                <div class="container-fluid">
                    <a class="navbar-brand">Buscar por titulo</a>
                    <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </nav>
    <div *ngIf="list === 'true'">
        <div class="bg-dark p-4">
            <div id="experimental">
                <button (click)="mostrarCrearManga()" class="experimentalB"><b>Publicar manga</b></button>
                <button (click)="mostrarCrearUsuario()" class="experimentalB"><b>Crear usuario</b></button>
                <button (click)="mostrarregistro()" class="experimentalB"><b>Registrarse</b></button>
                <button (click)="mostrarManga()" class="experimentalB"><b>Mangas</b></button>
            </div>
        </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><br>

    <!-- cartas de los mangas -->
    <div id="carrucel" *ngIf="ventana === ''">
        <div id="cardP" *ngFor="let dat of number">
        <p id="title"><b><i>Titulo</i></b></p>
        <div id="pres">
            <div  id="leter"><b>Precio:<br>$</b></div>
            <img id="ima" src="https://wallpaperbat.com/img/46380-anime-hd-wallpaper-and-background-image.jpg" alt="">
        </div>
        <div  id="leter2"><b>Disponibles: #</b></div><br>
        
        <ion-col id="description">
            <ion-row id="desc">
                <div><b>Descripción:</b></div>
                <div id="detalle_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui esse quas neque debitis repudiandae unde earum, mollitia commodi consequatur at deserunt eveniet eum, laborum, amet distinctio et laudantium obcaecati iusto!</div>
            </ion-row>
            <ion-row>
                <button id="buttonC">Alquilar</button>
            </ion-row>
        </ion-col>
        </div>
    </div>

    <!-- Formulario para registrarse -->
    <div id="espacio_registro" *ngIf="ventana === 'registro'">
        <form class="row g-3" id="form_registro" (ngSubmit)="login()">
            <p id="titulo_registro"><b><i>Formulario de registro</i></b></p>
            
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="email" name="email">
                <label for="floatingInput">Email address</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            
            <div>
                <button type="submit" id="button_registro" class="btn btn-primary mb-3"><b>Confirm identity</b></button>
            </div>
        </form>
    </div>

    <!-- Formulario para crear mangas -->
    <div id="espacio_publicarManga" *ngIf="ventana === 'crear_manga'">
        <div id="titulo_publicarManga">
            <p>Publicar un manga</p>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col" id="campos1">
                    <div class="mb-3">
                        <div class="form-floating" id="campo_publicarManga">
                            <input [(ngModel)]="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            <label for="exampleFormControlInput1">Titulo del manga</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating" id="campo_publicarManga">
                            <textarea [(ngModel)]="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <label for="exampleFormControlTextarea1">Descripción</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating" id="campo_publicarManga">
                            <input [(ngModel)]="cant" type="number" class="form-control" id="exampleFormControlInput2" placeholder="colocar solo numeros">
                            <label for="exampleFormControlInput2">Cantidad disponible</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating" id="campo_publicarManga">
                            <input [(ngModel)]="price" type="number" class="form-control" id="exampleFormControlInput3" placeholder="Precio manga">
                            <label for="exampleFormControlInput3">Precio manga</label>
                        </div>
                    </div>                    
                </div>
                <div class="col">
                    <ion-item id="putFile_publicarManga">
                        <input type="file" (change)="previewImage($event)" accept="image/*">
                    </ion-item>
                    <div *ngIf="imageSrc" id="imgFile_publicarManga">
                        <ion-img [src]="imageSrc" style="border-radius: 20px; max-width: 100%; height: 280px;"></ion-img>
                    </div>                  
                </div>                
            </div>
        </div>
        <div id="cajaButton_publicarManga">
            <button (click)="crearManga()" type="submit" class="btn btn-primary" id="button_publicarManga"><b>Public</b></button>
        </div>
    </div>

    <!-- Formulario para crear usuarios -->
    <div id="espacio_crearUsuario" *ngIf="ventana === 'crear_usuario'">
        <form id="formulario_crearUsuario" class="bg-dark p-5 rounded">
            <div id="titulo_crearUsuario" class="mb-4 text-center">
                <h3>Formulario para Crear Usuario</h3>
            </div>
            <div class="grupo-inputs mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-4">
                        <label for="nombreInput" class="col-form-label">Nombre</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="name" name="nombreInput" type="text" class="form-control" placeholder="Ingrese su nombre">
                    </div>
                    <div class="col-md-4">
                        <label for="apellidoInput" class="col-form-label">Apellido</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="lastName" name="apellidoInput" type="text" class="form-control" placeholder="Ingrese su apellido">
                    </div>
                </div>
            </div>
            <div class="grupo-inputs mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-4">
                        <label for="emailInput" class="col-form-label">Email</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="email" name="emailInput" type="email" class="form-control" placeholder="name@example.com">
                    </div>
                    <div class="col-md-4">
                        <label for="celularInput" class="col-form-label">Celular</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="celular" name="celularInput" type="text" class="form-control" placeholder="Ingrese su celular">
                    </div>
                </div>
            </div>
            <div class="grupo-inputs mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-4">
                        <label for="usernameInput" class="col-form-label">Username</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="otherName" name="usernameInput" type="text" class="form-control" placeholder="Elija nombre para su usuario">
                    </div>
                    <div class="col-md-4">
                        <label for="passwordInput" class="col-form-label">Password</label>
                    </div>
                    <div class="col-md-auto">
                        <input [(ngModel)]="password" name="passwordInput" type="password" class="form-control" placeholder="Elija una contraseña">
                    </div>
                </div>
            </div>
            <!-- Botón de envío -->
            <div id="crearUsuario_button" class="text-center">
                <button type="submit" class="btn btn-primary" (click)="crearUsuario()"><b>Crear Usuario</b></button>
            </div>
        </form>    
    </div>

<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</ion-content>
