@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');
*{ font-family: 'Barlow', sans-serif;}
/* texto del cargo cargo*/
#cargo{
    --background: rgba(17,17,31);
    color: aqua;
    font-size: 20px;   
}

#cargo2{
    color: aqua;
    font-size: 20px; 
    margin-right: 20px;  
}

ion-header{
    --background: rgba(17,17,31);
}

/*estilo del menu desplegable cliente*/
#experimentalT_ADMIN{
    color: white;
}
#experimental {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .experimentalB_ADMIN{
        --background: aqua;
        --color: black;
        height: 50px;
        width: 130px;
    }

    .experimentalB {
        background-color: aqua;
        color: black;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        height: 50px;
        width: 130px;
        border-radius: 5px;

        &:hover {
        background-color: darkcyan;
        }

        b {
        font-weight: bold;
        }
    }
}
//estilo menu desplegable ADMIN

#experimentalOther{
    justify-content: center;
}

/* Estilos de la barra de navegación */
.navbar-dark {
    background-color: rgba(33,37,41); /* Cambiar el color de fondo */
}
// barra usuario
.list-container {
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 10px;
}
// menu del admin 
.list-container-admin{
    background-color: rgba(33,37,41); 
    justify-content: center;
    border-radius: 10px;
    ion-title{
        color: white;
    }
}
/*estilos del contenedor*/
ion-content{
    --background: rgba(17,17,31);
}

/*estilo del contenido del usuario/cliente*/

#grid_card{
    ion-row{
        display: flex;
        justify-content: center;

        // estilos para las card's
        #card {
            width: 300px;
            height: 280px;
            position: relative; 
            div{
                margin-top: 10px;
                margin-left: 10px;
                position: absolute;
                z-index: 1;
                p{
                    font-size: 20px;
                    height: 40px;
                    width: 280px;
                    border-radius: 10px;
                    background-color: transparent;
                    color: invert(red);
                }
                button{
                    margin-top: 180px;
                    display: none;
                    border: solid 2px white;
                    color: white;
                    background-color: transparent;
                    transition: color 0.3s, background-color 0.3s, border 0.3s;
                }
            }
            #ima_card {
                width: 100%; 
                height: 100%; 
                position: absolute;
                z-index: -1;
            }
        }
        #card:hover{
            div{
                button{
                    height: 40px;
                    width: 80px;
                    border-radius: 10px;
                    display: block;
                    color: black;
                    background-color: white;
                    border: solid transparent;
                }
            }
        }
    }
}


/*estilo para el detalle de la carta*/
#detalle_card{
    background-color: rgba(17,17,31);
    color: white;
    ion-col{
        ion-title{
            ion-icon{
                font-size: 50px;
                border-radius: 50%;
                background-color: white;
                color: rgba(17,17,31);
                transition: background-color 1.5s, color 1,5s;
            }
            ion-icon:hover{
                background-color: aqua;
                color: white;
            }
        }
        #content_imagenDetalle{
            display: flex;
            justify-content: center;
            img{
                width: auto;
                height: 400px;
                border-radius: 10px;
            }
        }
        #div3{
            font-size: 60px;
            display: flex;
            justify-content: center;
        }
        #div2{
            text-align: center;
            display: flex;
            flex-direction: row;
            h4{
                flex: 1;
            }
        }
        div{
            padding-left: 10px;
            background-color: transparent;
            color: white;
        }
        #content_botones_detalle{
            text-align: center;
            display: flex;
            flex-direction: row;
            button{
                border-radius: 10px;
                background-color: aqua;
                color: black;
                width: 150px;
                height: 40px;
                display: flex;
                padding-top: 5px;
                padding-left: 10px;
                p{
                    padding-top: 5px;
                    padding-left: 10px;
                }
                ion-icon{
                    font-size: 25px;
                    margin-left: 10px;
                }
            }
        }
    }
}

/*estilo para lista de mis mangas*/

#list{
    background-color: transparent;
    #button_misMangas{
        background-color: aqua;
        color: rgba(33,37,41);
        border-radius: 15px;
        width: 80px;
        height: 60px;
        font-size: 20px;
        margin: 30px;
    }
    #alquilalo{
        display: flex;
        flex-direction: column;
    
        img{
            width: auto;
            height: 430px;
            z-index: -1;
        }

        ion-item{
            display: flex;
            --background: rgba(245,245,245);
            font-size: 20px;
        }
    }
}


/*formulario de registro*/
#espacio_registro{
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
}
#form_registro{
    justify-content: center;
    width: 500px;
    height: 350px;
    margin:  10px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(33,37,41);
}
#titulo_registro{
    color: aqua;
    font-size: 30px;
    font-family: Arial, sans-serif
}
#button_registro{
    background-color: aqua;
    color: black;
}

/*formulario para publicar mangas*/
#espacio_publicarManga{
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(33,37,41);
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#titulo_publicarManga{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aqua;
}
.grupo-inputs{
    align-items: center;
    text-align: center;
}
#campos1{
    align-items: center;
    text-align: center;
    display: flex table-column;
    margin: auto;
}
#campo_publicarManga{
    flex: 1;
    padding-bottom: 12px;
}
#putFile_publicarManga { border-radius: 10px;}
#imgFile_publicarManga{
    border-radius: 15px;
    margin-top: 10px;
    ion-img{ border-radius: 30px;}
}

#cajaButton_publicarManga{
    display: flex;
    justify-content: center;
    color: white;
}
#button_publicarManga{
    background-color: aqua;
    color: rgba(33,37,41);
    width: 680px;
    height: 40px;
    font-size: 20px;
    margin: 30px;

    @media (max-width: 330px) {
        width: 100%; 
    }
}

/* formulario para crear usuario*/
.container {
    max-width: 800px;
    margin: auto;
}

#formulario_crearUsuario {
    --background: rgba(33,37,41);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#titulo_crearUsuario h3, div .col-form-label{
    color: aqua;
    margin-bottom: 20px;
}

.grupo-inputs .row {
    margin-bottom: 15px;
}

label.col-form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

#crearUsuario_button button {
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#crearUsuario_button button:hover {
    background-color: #0056b3;
    color: white;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

#espacio_crearUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*estilos del responsive*/

@media (max-width: 767px) {

    /* 1. estilo del menu lateral*/
    #experimental {
        flex-direction: row;
    }

}
